
@import url(./global.css);

main{
    position: relative;
    left: 50px;
}

#seccion-portada{
    margin: auto;
    display: block;
}

#seccion-portada > h1{font-size: 2em;}

#seccion-portada > img{
    float: left;
    margin: 0px 20px 20px 0px;
    border: 20px ridge #a16e16;
}

#seccion-portada > p{
    position: relative;
    top: 150px;
}

.contenido{clear: left;}

#seccion-biografia > h2::after{content: "📖";}

#seccion-experiencia-laboral > h2::after{content: "💼";}

#seccion-educacion > h2::after{content: "🎓";}

#seccion-idiomas > h2::after{content: "🌐";}

#videojuegos::before{content: "🎮";}

#futbol::before{content: "⚽";}

#libros::before{content: "📕";}

#series-peliculas::before{content: "🎬";}

#youtube::before{content: "▶️";}

#desarrollo-web::before{content: "🖥️";}

#liderazgo::before{content: "👑";}

#curriculum::before{content: "📋";}

#tabla-vista-semanal{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: thin solid black;
    background-color: black;
}

#tabla-vista-semanal td{
    border: medium solid white;
    padding: 5px 10px;
    background-color: white;
}

#tabla-vista-semanal td:hover{
    background-color: var(--celda-seleccionada);
    border: medium solid var(--celda-seleccionada);
}

#tabla-vista-semanal th{
    background-color: lightgray;
    border: medium solid lightgray;
    padding: 5px 10px;
}

#tabla-vista-semanal .cultura-legalidad{
    border: medium solid var(--cultura-legalidad);
    background-color: var(--cultura-legalidad);
}

#tabla-vista-semanal .metodos-numericos{
    border: medium solid var(--metodos-numericos);
    background-color: var(--metodos-numericos);
    color: white;
}

#tabla-vista-semanal .administracion-proyectos{
    border: medium solid var(--administracion-proyectos);
    background-color: var(--administracion-proyectos);
}

#tabla-vista-semanal .disenio-sistemas{
    border: medium solid var(--disenio-sistemas);
    background-color: var(--disenio-sistemas);
    color: white;
}

#tabla-vista-semanal .aplicaciones-web{
    border: medium solid var(--aplicaciones-web);
    background-color: var(--aplicaciones-web);
    color: white;
}

#tabla-vista-semanal .ingenieria-requisitos{
    border: medium solid var(--ingenieria-requisitos);
    background-color: var(--ingenieria-requisitos);
}

#tabla-vista-semanal .arquitectura-software{
    border: medium solid var(--arquitectura-software);
    background-color: var(--arquitectura-software);
}